@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F8F4F0;
}

/* scrollbar */
/* Personnalisation de la scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #201F24;
  border-radius: 100px;
  /* border: 3px solid transparent; */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3A383D;
}

::-webkit-scrollbar-thumb:active {
  background-color: #2C2A2F;
}

/* Support pour Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #201F24 transparent;
}

/* end scrollbar */

/* Masquer la barre de défilement pour tous les navigateurs modernes */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}